
<div class="jumbotron text-center">
  <h1>MEAN Authenication App</h1>
  <p class="lead">Welcome to the MEAN Authenication app</p>

  <div>
    <a href="" [routerLink]="['/register']" class="btn btn-primary">register</a>
    <a href="" [routerLink]="['/login']" class="btn btn-default">Login</a>
  </div>
  
</div>
<div class="container">
  <div class="row">
    <div class="col-md-4">
      <h3>Express Backend</h3>
      <p>A rock solid Node.js/Express server using Mongoose to organize models and query the database</p>
    </div>
    <div class="col-md-4">
      <h3>Angular-CLI</h3>
      <p>Angular-CLI to generate components, services and more. Local dev server and easy compilation</p>
    </div>
    <div class="col-md-4">
      <h3>JWT Tokens</h3>
      <p>Full featured authentication using JSON web tokens. Login and store user data</p>
    </div>
  </div>
</div>

