

<nav class="navbar navbar-toggleable-md  navbar-inverse bg-primary">
  
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

      <a class="navbar-brand" href="#">Mean Auth App</a>

      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
       
        <ul class="navbar-nav">

          <li [routerLinkActive]="[active]" [routerLinkActiveOptions] = "{exact:true}">
            <a class="nav-link mr-auto" [routerLink]="['/']" >Home</a>
          </li>
        </ul>

        <ul class="nav navbar-nav ml-auto">
          <li *ngIf="authService.loggedIn()" [routerLinkActive]="[active]" [routerLinkActiveOptions] = "{exact:true}"  class="nav-item d-inline-block">
            <a class="nav-link mr-auto" [routerLink]="['/dashboard']" >Dashboard</a>
          </li>
          <li *ngIf="authService.loggedIn()" [routerLinkActive]="[active]" [routerLinkActiveOptions] = "{exact:true}"  class="nav-item d-inline-block">
            <a class="nav-link mr-auto" [routerLink]="['/profile']" >Profile</a>
          </li>

          <li *ngIf="!authService.loggedIn()" [routerLinkActive]="[active]" [routerLinkActiveOptions] = "{exact:true}"  class="nav-item d-inline-block">
            <a class="nav-link mr-auto" [routerLink]="['/login']" >Login</a>
          </li>
          <li *ngIf="!authService.loggedIn()" [routerLinkActive]="[active]" [routerLinkActiveOptions] = "{exact:true}"  class="nav-item d-inline-block">
            <a  class="nav-link mr-auto" [routerLink]="['/register']" >Register</a>
          </li>  
          <li *ngIf="authService.loggedIn()"  class="nav-item d-inline-block">
            <a (click)='onLogoutClick()' class="nav-link mr-auto" href="#" >logout</a>
          </li>                  
        </ul>
      </div>
    </nav>
